/* 路由主页面样式 */

.el-main {
    margin-left: 10px;
}


/* 顶部样式 */

.top-style {
    margin-top: -30px;
    margin-left: -1px;
    width: 100%;
    height: 60px;
}


/* 全局搜索栏盒子样式 */

.serach-input {
    margin-top: 12px;
    float: left;
    width: 100%;
    height: 50px;
}


/* 搜索栏lable样式 */

.serach-propties {
    float: left;
    margin-top: 6px;
    font-size: 14px;
}


/* 搜索输入框样式 */

.el-input {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    width: 160px;
    height: 33px;
}


/* 搜索输入框高度  */

.el-input__inner {
    height: 33px;
}


/* 搜索按钮样式 */

.serach-button {
    float: left;
    margin-left: 10px;
    padding: 0 0 !important;
    text-align: center;
    height: 33px;
    width: 80px;
    line-height: 33px;
}


/* 操作数据按钮盒子 */

.operator-button-region {
    width: 100%;
    height: 70px;
}


/* 操作数据按钮 */

.operator-button {
    width: 76px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0 0 !important;
    font-size: 11px;
}


/* 表格样式及分页样式 */

.table-data {
    margin-top: 40px;
}


/* 表头 */

.el-table th.el-table__cell>.cell {
    padding-left: 15px
}

.pageHelper {
    margin-left: 360px;
}


/* 左侧菜单栏样式 */

.el-aside {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.el-menu {
    background-color: #1f2d3d!important;
}

.el-submenu .el-menu-item {
    color: white;
}

.el-submenu__title {
    color: white;
}

.el-submenu__title:hover {
    background-color: #143358!important;
}

.el-menu-item a {
    color: white !important;
}

.el-menu-item:hover {
    background-color: #143358!important;
}