/* 路由主页面样式 */

.el-main {
    margin-left: 10px;
}


/* 设置容器父盒子为相对定位 */

.container-home {
    position: relative;
}


/* 登录用户头像样式 */

.basic--circle .el-avatar {
    margin-top: 5px;
    margin-right: 1px;
}


/* 顶部样式 */

.top-style {
    margin-top: -30px;
    margin-left: -1px;
    width: 100%;
    height: 60px;
}

.top-style h2 {
    margin-top: 30px;
}


/* 标签页样式 */

.tabs-region {
    position: absolute;
    width: 100%;
    left: 198px;
    top: 43px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid skyblue;
}

.tabs-region .el-tag--dark {
    background-color: transparent !important;
    border-color: transparent;
    color: black !important;
}

.tabs-region .el-tag--dark .el-tag__close {
    color: black !important;
}

.tabs-region .el-tag {
    margin-left: 6px;
}

.tabs-region span:hover {
    background-color: #a3bbd3 !important;
}


/* 侧边栏打开收缩样式 */

.side-switch-region {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 195px;
    top: 3px;
}

.side-switch-region .el-button--primary {
    color: black !important;
    background-color: transparent !important;
}


/* 面包屑样式 */

.crumbs-region {
    position: absolute;
    width: 100%;
    left: 245px;
    top: 10px;
}


/* 全局搜索栏盒子样式 */

.serach-input {
    margin-top: 80px;
    float: left;
    width: 100%;
    height: 50px;
}


/* 搜索栏lable样式 */

.serach-input .serach-propties {
    float: left;
    margin-top: 6px;
    font-size: 13px;
}


/* 搜索输入框样式 */

.serach-input .el-input {
    float: left;
    margin-left: 9px;
    margin-right: 10px;
    width: 160px !important;
}


/* 搜索输入框高度  */

.serach-input .el-input__inner {
    height: 31px !important;
    line-height: 31px !important;
    font-size: 12px !important;
    text-align: left;
}


/* 搜索按钮样式 */

.serach-button-region .serach-button {
    float: left;
    margin-left: 10px;
    padding: 0 0 !important;
    text-align: center !important;
    height: 30px;
    width: 71px;
    font-size: 11px !important;
    line-height: 30px !important;
}


/* 操作数据按钮盒子 */

.operator-button-region {
    display: inline-block;
    width: 100%;
    height: 70px;
}


/* 操作数据按钮样式 */

.operator-button-region .operator-button {
    width: 71px;
    height: 29px;
    text-align: center;
    font-size: 11px !important;
    line-height: 29px;
    padding: 0 0 !important;
    font-size: 11px;
}

.operator-button-region .operator-button button {
    width: 73px !important;
    height: 32px !important;
    text-align: center !important;
    font-size: 11px !important;
    line-height: 35px !important;
    padding: 0 0 !important;
}

.operator-button-region .el-button span {
    font-size: 11px !important;
}


/* 表单取消提交按钮样式 */

.from-button-region {
    margin-left: 220px;
    width: 200px;
    height: 35px;
}

.dialog-footer .button {
    width: 76px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0 0 !important;
    font-size: 11px;
}


/* 操作数据-删除按钮样式 */

.delete-button {
    color: #f12626cf;
}


/* 表单样式 */

.el-form-item {
    margin-bottom: 22px;
    display: inline-block;
    margin-left: -61px;
}

.el-form-item__label {
    padding: 0 4px 0 0;
}

.el-dialog__body {
    padding: 2px 20px;
}

.form-data .el-input {
    float: left;
    margin-left: 9px;
    margin-right: 10px;
    height: 20px !important;
    width: 160px !important;
}

.form-data .el-input__inner {
    height: 33px !important;
}


/* 表格样式及分页样式 */

.table-data {
    margin-top: -28px;
}


/* 表头 */

.el-table th.el-table__cell>.cell {
    padding-left: 17px
}

.el-table .cell {
    padding-left: 16px;
}


/* 分页组件样式 */

.pageHelper {
    margin-top: 13px;
    margin-left: -80px;
    text-align: center;
}

.el-pagination__sizes .el-input .el-input__inner {
    width: 100px !important;
    height: 30px !important;
}

.el-pagination .el-select .el-input {
    width: 100px !important;
    height: 30px !important
}


/* 左侧菜单栏样式 */

.el-aside {
    margin-top: -5px;
    margin-bottom: -1px;
    margin-left: -13px;
}

.el-menu {
    background-color: #1f2d3d!important;
    left: -5px !important;
}

.el-menu--collapse {
    width: 45px;
}

.el-submenu .el-menu-item {
    color: white;
}

.el-submenu__title {
    color: white;
}

.el-submenu__title:hover {
    background-color: #143358!important;
}

.el-menu-item a {
    color: white !important;
}

.el-menu-item:hover {
    background-color: #143358!important;
}


/* 部门树区域 */

.tree-region-style input {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    height: 30px !important;
    background-color: white;
}

.tree-region-style {
    float: left;
    margin-left: -5px;
    width: 180px;
    height: 100%;
    background-color: white;
}

.tree-region {
    width: 130px;
    height: 100%;
    background-color: white;
}

.tree-region .el-tree {
    height: 100%;
}

.tree-region .el-tree .el-tree-node__label {
    font-size: 14px !important;
}